/***** Navigation ******/

.navbar {
  border-bottom: solid 1px #ebebeb;
}
.bottom-tab-nav {
  border-top: solid 1px #ebebeb;
  background-color: #fff;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: #922c88;
}
.bottom-tab-label {
  font-size: 12px;
}

/****** General ******/

h2,
h3 {
  color: rgb(15, 14, 14);
  margin-bottom: 0;
}

body {
  background-attachment: fixed;
}

button {
  background-color: rgba(255, 255, 255, 0.473);
  color: #000;
  font-weight: 500;
  padding: 3px 6px;
  border: 0px;
  box-shadow: 0 0 3px rgba(185, 185, 185, 0.863);
}

#header {
  background-color: #0f0e0ef8;
  text-align: center;
  padding: 10px;
  width: 100%;
}

#header-text {
  color: #f8f8f8;
  margin-bottom: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

/****** DASHBOARD ******/

#current-album-container {
  background-color: rgba(16, 131, 93, 0.575);
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 1rem 1rem 4rem;
  text-align: center;
}

#current-album-info {
  text-align: left;
  width: 80%;
  max-width: 500px;
  margin: 15px auto;
  padding: 1rem;
  font-size: 14px;
  background-color: #fff;
  border-radius: 3px;
}

#listen-spotify-button {
  background-color: black;
  color: greenyellow;
  font-weight: 500;
  border: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.863);
  padding: 3px 6px;
  border-radius: 2px;
}

#album-cover {
  margin: 10px;
  width: 50%;
  height: auto;
  max-width: 300px;
  border: 10px solid black;
}

#write-review-button {
  margin: 0;
}

#write-review-button-text {
  margin: 0px;
  padding: 5px;
}

/******** Write review component ********/

#write-review-container {
  margin: 1rem auto;
  width: 90%;
}

#write-review-box {
  background-color: rgb(41, 41, 40);
  padding: 1rem;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#write-review-heading {
  color: #fff;
  margin-bottom: 10px;
}

#your-review-name {
  width: 100%;
}

#your-review-body {
  width: 100%;
  height: 200px;
  white-space: pre-wrap;
}

#review-score {
  width: 50px;
  font-size: 14px;
}

#post-review-button {
  width: 40%;
  align-self: center;
}

#post-message {
  color: #fff;
}

#score-container {
  color: white;
}

/****** Password ******/

.password-login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: inline;
  width: 60%;
}

#login-form {
  display: block;
  max-width: 250px;
  margin: auto;
}

.password-login-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.815);
}

#password-login {
  margin-bottom: 20px;
  font-family: monospace;
  padding: 5px;
  font-size: 20px;
  width: 100%;
  background-color: rgb(223, 223, 223);
}

#login-logo {
  width: 125px;
  height: auto;
  margin: 1.5rem;
}

#login-button {
  font-size: 25px;
  padding: 0 15px 0 15px;
  background-color: rgba(159, 253, 65, 0.74);
  border-radius: 5px;
  border: 1px solid;
}

#error-msg-text {
  margin: 1rem;
  color: #fff;
  font-family: monospace;
  font-size: 15px;
}

/****** Reviews ******/
#reviews-container {
  background-color: rgba(139, 0, 0, 0.836);
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
#reviews-box {
  margin: 0;
  text-align: center;
}

#reviews-list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#reviews-list-item {
  margin: 1rem;
  list-style-type: none;
  width: 40%;
  max-width: 225px;
}

#reviews-list-album-cover {
  width: 100%;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.863);
}

/******* Single Album reviews page *********/
#album-reviews-container {
  background-color: rgba(165, 0, 0, 0.836);
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin-bottom: 4rem;
}

#album-reviews-box {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

#album-review-list-header {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
#album-reviews-list-heading {
  margin: 0;
  height: 100%;
  color: rgb(0, 0, 0);
}

#album-average-score {
  font-family: monospace;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 5px;
  color: #fff;
}

#album-reviews-list {
  margin: 0;
  padding-left: 0;
}

#album-reviews-list-item {
  background-color: #fff;
  list-style-type: none;
  padding: 1rem 1rem;
  margin: 15px 0;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(7, 7, 7, 0.863);
}

#album-review-author {
  font-size: 20px;
  font-weight: 400;
  color: rgb(109, 109, 109);
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(143, 143, 143, 0.301);
}
#album-review-body {
  font-size: 14px;
  white-space: pre-wrap;
}
#album-review-score {
  color: #000;
}

/****** Suggest ******/
#suggest-container {
  background-color: rgba(109, 26, 161, 0.432);
  height: 100vh;
  padding: 1rem;
  text-align: center;
}

#submit-album-form {
  /* width: 70%; */
  max-width: 250px;
  min-width: 250px;
  margin: 1.5rem auto 1.5rem;
  text-align: center;
  background-color: #fff;
  padding: 1.5rem 1rem 1rem;
  border-radius: 5px;
}

.suggest-input {
  margin: 8px;
}

#suggest-submit-button {
  margin-top: 1rem;
}

/******** Schedule  ******/

#loading-list {
  height: 100vh;
  background-color: rgba(236, 150, 45, 0.89);
}
#loading-list-text {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: inline;
  width: 60%;
}

#schedule-container {
  background-color: rgba(236, 150, 45, 0.89);
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  /* padding-top: 3rem; */
}

#schedule-box {
}

#schedule-list {
  width: 90%;
  margin: auto;
  padding: 5px 0;
  max-height: 80vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

#schedule-list::-webkit-scrollbar {
  display: none;
}

#schedule-list-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  padding: 10px;
  display: flex;
  width: 90%;
  max-width: 700px;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(216, 216, 216);
}

#schedule-list-album-cover {
  width: 75px;
  height: 75px;
  box-shadow: 1px 1px 3px rgba(169, 169, 169, 0.61);
  align-self: center;
}

#schedule-list-album-info {
  height: 75px;
  margin-left: 1rem;
  text-align: left;
}

#schedule-album-name {
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 5px;
}
#schedule-artist-name {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 10px;
}
#schedule-author-name {
  font-size: 12px;
  font-family: monospace;
  color: rgb(88, 88, 88);
  margin: 0;
}
